html {
    min-height: 100%;
}
body {
    min-height: 100%;
}


.bg-light-blue {
    background-color: #0117aa;
    color: #fff;
    background: linear-gradient(to top right,#0117aa, #678de0);
}

#main-container {
    display: flex;
    /* height: 100vh; */
}

.footer {
    margin: auto;
}

#main-container-index{
    /* width: 100%; */
    /* height: 100%; */
    margin: auto;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#search-form {
    padding: 1rem 10rem;
    width: 60rem;
    height: 7rem;
}

.flex-item {
    display: flex;
    flex-wrap: wrap;
}

input.flex-item {
    width: 30rem;
    height: 3rem;
    margin: 5px;
    border-radius: 4px;
}
img.flex-item {
    width: 2.5rem;
    height: 3rem;
    margin: 4px 3px 0;
}

.weather-result{
    display: flex;
    margin: auto;
}

.card-weather {
   background-color: #0117aa !important;
   color: #fff !important;
   cursor: pointer;
   transition-duration: 0.2s;
}

.card-weather:hover {
    transform: scale(1.1);
}

.hidden {
    display: none !important;
}

.card-weather {
    width: 10rem !important;
}

.last-s {
    padding: 2rem 0;
}

input.flex-item {
    text-transform: capitalize;
}

#loading {
    width: 81px;
    height: 81px;
    border: 7px solid #f3f3fe;
    border-top: 7px solid #9c41f2;
    border-radius: 100%;
    margin: 12px auto;
    /* visibility: hidden; */
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}