{% extends 'base.html' %}
{% block content %}
<div class="containert" id="main-container-index">
    <div class="flex-container">
        <div class="row">
            {% csrf_token %}
        <form id="search-form">
            <div class="flex-item">
                <img src="static/images/w-icon-sm.png" alt="" class="flex-item">
                <input type="text" class="flex-item form-control" placeholder="Type a city name..." aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="flex-item btn btn-outline-light" type="submit" id="button-addon2">Search</button>
            </div>
        </form>
        </div>
        <div class="row col-12">
            <div class="weather-result">
                <div class="col">
                    <div class="card card-weather">
                        <img src="" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-text" id="temp"></p>
                          <h5 class="card-title"></h5>
                          <p class="card-text" id="weather"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}